<div class="d-flex justify-content-center h-100">
  <div class="card">
    <title>TABLE</title>
    <table border="5">
      <thead>
        <tr>
          <td>author</td>
          <td>country</td>
          <td>language</td>
          <td>title</td>
          <td>year</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tr *ngFor='let book of books'>
        <td>{{book.author}}</td>
        <td>{{book.country}}</td>
        <td>{{book.language}}</td>
        <td>{{book.title}}</td>
        <td>{{book.year}}</td>
        <td>
          <button (click)="delete(book)" class="fa fa-trash"></button>
        </td>
        <td>
          <button (click)="editBooksDialog(book)" class="fa fa-edit"></button>
        </td>
      </tr>
    </table>
  </div>
</div>