<!DOCTYPE html>
<html>

<body>
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <form>
                    <div class=home>
                        <h4>Please create your account</h4>
                        <button id="b1" routerLink="/signup" >SignUp</button><br><br>
                        <h4>After create account go to the login page</h4>
                        <button id="b1" routerLink="/login">Login</button><br><br>
                    </div>
                </form>
            </div>
        </div>
</body>

</html>